<div class="footer-dark sticky-bottom">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>COMPANY</h3>
          <ul>
            <li><a href="aboutus">About Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item text-white">
          <h3>GENERAL</h3>
          <ul>
            <li><a href="#">Partner with us</a></li>
            <li><a href="#">Write to us</a></li>
            <li><a href="#">Mobile Apps</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text-white">
          <h3>LIBRARY SYSTEM</h3>
          <p>Manage all the book issue for the user and quantity</p>
        </div>
        <div class="col item social mt-3">
          <a href="#"><i class="icon ion-social-facebook"></i></a>
          <a href="#"><i class="icon ion-social-twitter"></i></a>
          <a href="#"><i class="icon ion-social-snapchat"></i></a>
          <a href="#"><i class="icon ion-social-instagram"></i></a>
        </div>
      </div>
      <p class="copyright">Company Name © 2021</p>
    </div>
  </footer>
</div>