.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.alert-orange {
    background-color:#ffa500;
}

.alert-yellow {
    background-color: #fff44f;
}

.alert-red {
    background-color: rgba(255, 60, 0, 0.856);
}